/*
    ### Variables ###
*/
/*
    ### Mixins ###
*/
/*
    ### GLOBAL ###
*/
html {
  font-family: "Karla", sans-serif;
  font-size: 16px; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e5eff5;
  width: 100%;
  height: 100vh; }

/*
    ### SINGLE PRICE SECTION ###
*/
.single-price-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.offer {
  min-width: 300px;
  display: flex;
  flex-flow: column wrap;
  padding: 15px; }
  @media (min-width: 1440px) {
    .offer {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  .offer__section {
    padding: 0 20px; }
    @media (min-width: 1440px) {
      .offer__section {
        min-height: 80%; } }
    .offer__section--description {
      background-color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: .8rem; }
      @media (min-width: 1440px) {
        .offer__section--description {
          grid-column: 1 / -1; } }
    .offer__section--pricing {
      background-color: #2ab2af;
      color: white;
      font-size: .8rem; }
    .offer__section--why-us {
      background-color: #3dd1cf;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.9rem; }
  .offer__title--white {
    color: #fff; }
  .offer__title--green {
    color: #2ab2af; }
  .offer__subtitle {
    color: #c0df34; }
  .offer__text {
    color: #98a6bd;
    word-spacing: 2px;
    line-height: 1.5;
    padding: 10px 0px; }
  .offer__price {
    color: rgba(255, 255, 255, 0.5); }
  .offer__price-value {
    color: white;
    font-size: 1.5rem; }
  .offer__list {
    padding: 0 0 5px 0;
    list-style-type: none; }

.btn {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  background-color: #c0df34;
  color: white;
  font: inherit;
  border: none;
  margin: 20px 0px 20px;
  border-radius: 5px;
  font-weight: 700; }
  .btn:hover {
    cursor: pointer;
    background-color: #596a11; }
